.titulo-principal {
    height: 10vh;
    font-size: 5em;
    color: white;
    padding: 1.25rem;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.75rem;
    padding: 3.12rem;
    margin-bottom: 3%;
}

.card-paises {
    width: 100%;
    max-width: 30rem;
    height: 18rem;
    background: var(--color-blanco);
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    border-radius: 20px;
    border: 5px solid var(--color-blanco);
    color: var(--color-blanco);
}

.img-bandera {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin-top: 1.25rem;
}

.card-contenido-paises {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.6rem;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    opacity: 1;
}

.card-paises:hover .card-contenido-paises {
    transform: translateY(0);
}


.card-contenido-paises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.titulo-card-paises {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 0.6rem;
}

.card-info-paises-1 {
    width: 50%;
    text-align: center;
    margin: 0.6rem;
    border-bottom: 2px solid white;
}

.card-info-paises-2 {
    width: 50%;
    text-align: center;
    margin: 0.6rem;
    border-bottom: 2px solid white;
}


.boton-conocer-mas {
    display: inline-block;
    width: 8em;
    background-color: var(--color-esmeralda);
    color: var(--color-blanco);
    padding: 0.6em 1.25em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


.boton-conocer-mas:hover {
    background: var(--color-gris);
}




@media (max-width: 64em) {

    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        padding: 2em;
    }

    .card-paises {
        width: 100%;
    }

    .titulo-principal {
        font-size: 3em;
        height: auto;
        margin: 0.5em;
        padding: 0.5em;
    }
}


@media (max-width: 40em) {

    .titulo-principal {
        font-size: 2em;
        height: auto;
        margin: 0.5em 0;
        padding: 0.5em;
    }


    main {
        grid-template-columns: 1fr;
        gap: 1.5em;
        padding: 1em;
        margin-bottom: 5%;
    }

    .card-paises {
        width: 100%;
        height: 250px;
        margin-top: 0;
    }

}