.contenedor-section {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-blanco);
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}

.contenedor-section h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: var(--color-texto);
}

.contenedor-section p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-texto-secundario);
}

.contenedor-botones {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn-primario, .btn-secundario {
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}


.btn-primario {
    background-color: var(--color-primario); 
    color: #333;
    border: 2px solid var(--color-primario);
}

.btn-primario:hover {
    background-color: transparent;
    color: var(--color-texto);
}

.btn-secundario {
    background-color: transparent;
    color: white;
    border: 2px solid var(--color-acento);
}

.btn-secundario:hover {
    background-color: var(--color-acento);
    color: #333;
}



/* * comienza otro section* */
.seccion-destacados {
    text-align: center;
    padding: 4rem 2rem;
    margin-bottom: 50px;
}

.seccion-destacados h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--color-texto);
    font-family: 'Oswald', sans-serif;
}

.contenedor-columnas {
    display: flex;
    gap: 40px; /* Espacio entre los dos cuadrados */
    max-width: 1200px; /* Un poco más ancho para que entren bien ambos */
    margin: 0 auto;
    justify-content: center;
}

/* El estilo de cada "cuadrado" individual */
.cuadrado-carrusel {
    flex: 1; /* Esto hace que ambos ocupen exactamente la mitad (50%) */
    background-color: var(--color-tarjetas); /* Un gris muuuy clarito para que resalte como un bloque */
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08); /* Sombra suave para darle volumen */
}


.cuadrado-carrusel h3 {
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    color: var(--color-texto-secundario);
    margin-bottom: 15px;
    text-transform: uppercase;
}



.carrusel-contenedor {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.carrusel-pista {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 20px 10px;
    scrollbar-width: none;
}

.carrusel-pista::-webkit-scrollbar {
    display: none;
}


.carrusel-tarjeta {
    flex: 0 0 calc(50% - 15px);
    min-width: 140px;
    height: 190px;
    background-color: var(--color-texto);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.carrusel-tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.carrusel-tarjeta img {
    width: 60px;
    height: 60px; 
    margin-bottom: 8px;
    object-fit: contain;
}

.carrusel-tarjeta h3 {
    font-size: 0.9rem;
    color: #222;
    margin: 0;
    text-align: center;
}

.carrusel-tarjeta p {
    font-size: 0.75 !important;
    margin-top: 5px !important;
    text-align: center;
    line-height: 1.2;
}

.carrusel-btn {
    background: var(--color-primario);
    color: var(--color-texto);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel-btn:hover {
    background-color: var(--color-acento);
    transform: scale(1.1);
}

#btn-ant-equipos, #btn-ant-jugadores {
    left: -10px;
}

#btn-sig-equipos, #btn-sig-jugadores {
    right: -10px;
}

/* Si la pantalla es más chica que una PC (como una tablet o celular), 
   los ponemos uno arriba del otro para que no se aprieten */
@media (max-width: 900px) {
    .contenedor-columnas {
        flex-direction: column;
    }
}