

.hero{
    text-align:center;
    padding:70px 20px 30px;
}

.hero h1{
    font-size: 4rem;
    font-weight:700;
}

.hero p{
    color:var(--color-texto-secundario);
    font-size:1.5rem;
}

.linea{
    width:80px;
    height:4px;
    background:var(--color-primario);
    margin:20px auto;
    border-radius:50px;
}

.buscador-container{
    display:flex;
    justify-content:center;
    margin-bottom:50px;
}

.buscador{
    width:900px;
    display:flex;
    gap:15px;
    background:var(--color-tarjetas);
    border:1px solid rgba(52,211,153,.3);

    padding:15px;
    border-radius:20px;
}

.buscador input{
    flex:1;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size:1.1rem;
}

.buscador select{
    background:var(--color-tarjetas);
    border:none;
    color:white;
    padding:0 20px;
    border-radius:12px;
}

.buscador button{
    background:var(--color-primario);
    border:none;
    color:white;
    padding:0 30px;
    border-radius:12px;
    cursor:pointer;
    font-size:1rem;
    transition:.3s;
}

.buscador button:hover{
    background:var(--color-acento);
}


.contenedor-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.75rem;
    padding: 3.12rem;
    margin-bottom: 3%;
}


.card-paises {
    width: 100%;
    max-width: 30rem;
    height: 18rem;
    background: var(--color-tarjetas);
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    border-radius: 20px;
    border: 5px solid rgba(52,211,153,.3);
    color: var(--color-blanco);
}

.card-paises:hover {
    transition: 0.3s ease;
    border: 5px solid var(--color-acento);
}

.img-bandera {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin-top: 1.25rem;
}

.card-contenido-paises {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.6rem;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    opacity: 1;
}

.card-paises:hover .card-contenido-paises {
    transform: translateY(0);
}


.card-contenido-paises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.titulo-card-paises {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 0.6rem;
}

.card-info-paises-1 {
    width: 50%;
    text-align: center;
    margin: 0.6rem;
    border-bottom: 2px solid white;
}

.card-info-paises-2 {
    width: 50%;
    text-align: center;
    margin: 0.6rem;
    border-bottom: 2px solid white;
}


.boton-conocer-mas {
    display: inline-block;
    width: 8em;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 0.6em 1.25em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


.boton-conocer-mas:hover {
    background: var(--color-gris);
}


@media (max-width: 64em) {

    main {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        padding: 2em;
    }

    .card-paises {
        width: 100%;
    }

    .titulo-principal {
        font-size: 3em;
        height: auto;
        margin: 0.5em;
        padding: 0.5em;
    }
}


@media (max-width: 40em) {

    .titulo-principal {
        font-size: 2em;
        height: auto;
        margin: 0.5em 0;
        padding: 0.5em;
    }


    main {
        grid-template-columns: 1fr;
        gap: 1.5em;
        padding: 1em;
        margin-bottom: 5%;
    }

    .card-paises {
        width: 100%;
        height: 250px;
        margin-top: 0;
    }

}